body {
  margin: 0;
  background: black;
  overflow: hidden;
  touch-action: none;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}

#text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  font-size: 5vw;
  text-align: center;
  width: 90%;
  opacity: 0;

  color: white;
  text-shadow: 0 0 20px #ff4d6d;

  transition: all 0.6s ease;
}